/*-------------
General
-------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
}


/* Style the header with a grey background and some padding */

.header {
    background-color: #f1f1f1;
    padding: 0px 10px 10px 10px;
    height: 90px;
}

.fa-whatsapp {
    margin-right: 10px;
}


/* Style the header links */

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 4px;
}


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}


/* Change the background color on mouse-over */

.header .header-right a:hover {
    background-color: #ccc9c991;
}


/* Float the link section to the right */

.header-right {
    float: right;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    a.logo {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .header {
        background-color: #f1f1f1;
        height: 157px;
    }
    .header a {
        float: none;
        text-align: left;
    }
    .header-right {
        float: none;
        display: block;
    }
}


/*
@media screen and (max-width: 700px) {
    .header {
        background-color: #f1f1f1;
        height: 157px;
    }
    .header a {
        float: left;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    section .hero {
        margin-top: 20px;
    }
}
*/

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

a.btn {
    color: rgb(66, 64, 64);
    border-radius: 4px;
    border: solid 1px rgb(236, 182, 5);
    text-transform: uppercase;
    background-color: #d2d0ccab;
    font-weight: 800;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 10px 15px 20px -3px #050505;
}

a.btn:hover {
    background-color: rgb(236, 182, 5);
    color: #fff;
}

hr {
    width: 150px;
    height: 2px;
    border: 0;
    margin-bottom: 80px;
}

.header-btn-1:hover {
    text-decoration: underline;
    text-decoration-color: rgb(56, 209, 26);
    text-decoration-style: double;
}

.header-btn-2:hover {
    text-decoration: underline;
    text-decoration-color: rgb(241, 218, 3);
    text-decoration-style: double;
}

.header-btn-3:hover {
    text-decoration: underline;
    text-decoration-color: rgb(243, 39, 12);
    text-decoration-style: double;
}

.hr-1 {
    background-color: rgb(56, 209, 26);
}

.hr-2 {
    background-color: rgb(241, 218, 3);
}

.hr-3 {
    background-color: rgb(243, 39, 12);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

@media (max-width: 1000px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 80px 30px;
    }
}

section h3.title {
    color: #414a4f;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*-------------
Header
-------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}

header h2 {
    font-family: 'Quicksand', sans-serif;
}

header nav {
    display: flex;
    position: absolute;
    right: 50px;
    top: 50px;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        flex-wrap: wrap;
    }
    header h2 {
        margin-bottom: 15px;
    }
    header .logo,
    header nav {
        display: block;
    }
}


/*----------------
Hero Section
----------------*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;
}

.hero .background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.5;
}

.hero h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero h3 {
        font-size: 24px;
    }
    .hero a.btn {
        padding: 15px 40px;
    }
}


/*--------------------
Our Work Section
---------------------*/

.Ð¾ur-work {
    background-color: #fff;
}

.our-work .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.our-work .grid li.small {
    flex-basis: 40%;
}

.our-work .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 1000px) {
    .our-work .grid li.small,
    .our-work .grid li.large {
        flex-basis: 100%;
    }
}


/*----------------------
Features Section
----------------------*/

.features {
    background: rgb(149, 151, 149);
    background: linear-gradient(45deg, rgba(22, 176, 8, 0.30015756302521013) 0%, rgba(226, 220, 40, 0.3) 50%, rgba(255, 51, 0, 0.3) 100%);
}

.features .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.features .grid li i {
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p {
    margin: 0;
}

@media (max-width: 1000px) {
    .features .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .features .grid li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .features .grid li {
        flex-basis: 100%;
    }
    .contact .grid li {
        flex-basis: 100%;
    }
}


/*--------------------
Reviews Section
--------------------*/

.reviews {
    background-color: #fff;
}

.reviews .quote {
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author {
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child {
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    .reviews .quote {
        font-size: 20px;
    }
    .reviews .author {
        font-size: 16px;
    }
}


/*---------------------
Contact Section
---------------------*/

.contact {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    margin: 5px 0;
    padding: 15px 20px;
    background: none;
    border-radius: 5px;
    color: rgb(24, 23, 23);
    border: 2px solid rgba(204, 204, 204, 0.383);
    font-family: 'lato';
    font-weight: 300;
}

.contact textarea {
    height: 150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}

.contact .boton-form {
    color: #fff;
    border: solid 1px #a77e0387;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: #ffc10787;
    font-weight: 800;
    text-align: center;
    padding: 10px 20px;
    color: rgb(83, 81, 81)
}

.contact .boton-form:hover {
    background-color: rgba(255, 193, 7, 1);
}

.contact .direccion {
    margin-top: 20px;
}

.contact h2 {
    margin-bottom: 25px;
}


/*-------------
Footer
-------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #414a4f;
    padding: 20px 10px 10px 10px;
}

footer p {
    margin-top: 10px;
}

footer ul {
    display: flex;
    font-size: 32px;
}

footer ul li {
    margin: 0 8px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

footer p a {
    color: #fff;
}

@media (max-width: 700px) {
    footer {
        padding: 80px 15px;
    }
}

footer .icon {
    margin: 0 5px 0 5px;
}


/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder {
        display: none;
    }
}

.contact .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}


/*
carrusel
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
}


/* Caption text */

.carrousel-text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    background-color: #ecdc7f8e;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #000000;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-container .active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.our-work .row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.our-work .row .column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.our-work .row .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}