body {
    background-color: #abb7bf;
}
h1 {
    display: flex;
    color: green;
    background-color: beige;
    text-align: center;
    height: 100px;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: azure;
}

a {
    padding: 0 10px 0 10px;
}