/*-------------
General
-------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
}

header div .logo {
    height: 100px;
    width: 250px;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
    margin: 10px;
    text-decoration: underline;
}

a:hover {
    opacity: 0.8;
    color: rgb(16, 57, 77);
}

a.btn {
    color: rgb(211, 209, 199);
    border-radius: 15px;
    text-transform: uppercase;
    background-color: rgb(32, 99, 131);
    font-weight: 800;
    text-align: center;
    border: solid 1px #dad8cf
}

a.btn:hover {
    background-color: #dac8008f;
    color: rgb(32, 99, 131);
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

@media (max-width: 1000px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 80px 30px;
    }
}

section h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*-------------
Header
-------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(32, 99, 131);
    padding: 15px 100px 15px;
}

header a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

.underline--magical {
    background-image: linear-gradient(120deg, #09973d 0%, #8cfd75 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
    background-size: 100% 88%;
    color: #011729
}

@media (max-width: 1000px) {
    header {
        padding: 20px 20px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
    header nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}


/*----------------
Hero Section
----------------*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: rgb(43, 99, 126);
    text-align: center;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #cacdcf;
    z-index: -1;
}

.hero .background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9c9fa0;
    opacity: 0.4;
}

.hero h1 {
    font: bold 60px 'Open Sans', sans-serif;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px 'Open Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 15px 46px;
}

.hero a i {
    margin-right: 8px;
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
        margin-top: 180px;
    }
    .hero h3 {
        font-size: 24px;
    }
    .hero a.btn {
        padding: 15px 40px;
    }
}


/*--------------------
Our Work Section
---------------------*/

.Ð¾ur-work {
    background: rgb(245, 230, 5);
    background: linear-gradient(90deg, rgba(245, 230, 5, 0.35) 0%, rgba(40, 245, 2, 0.35057773109243695) 35%, rgba(255, 25, 0, 0.39539565826330536) 100%);
}

.our-work .title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: none;
    color: rgb(32, 99, 131);
}

.our-work p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #021e35;
}

.our-work .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.our-work .grid li.small {
    flex-basis: 40%;
}

.our-work .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 1000px) {
    .our-work .grid li.small,
    .our-work .grid li.large {
        flex-basis: 100%;
    }
}


/* Image Grid - Materials */

.image-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    justify-content: center;
}

.grid-image {
    -webkit-box-shadow: 10px 8px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 8px 20px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 8px 20px -6px rgba(0, 0, 0, 0.75);
    display: block;
    flex-basis: 100%;
    margin: 10px;
    box-sizing: border-box;
}

@media only screen and (min-width: 640px) {
    .grid-image {
        flex-basis: 50%;
    }
}

@media only screen and (min-width: 960px) {
    .grid-image {
        flex-basis: 33.333%;
    }
}

@media only screen and (min-width: 1280px) {
    .grid-image {
        flex-basis: 25%;
    }
}

@media only screen and (min-width: 1600px) {
    .grid-image {
        flex-basis: 20%;
    }
}


/*----------------------
Features Section
----------------------*/

.features {
    background: rgb(245, 230, 5);
    background: linear-gradient(90deg, rgba(245, 230, 5, 0.25) 0%, rgba(40, 245, 2, 0.25) 35%, rgba(255, 25, 0, 0.25) 100%);
}

.features .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.features .title {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.features .grid li i {
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
    font-style: italic;
}

.features .grid li p {
    margin: 0;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .features .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .features .grid li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .features .grid li {
        flex-basis: 100%;
    }
}


/*---------------------
Contact Section
---------------------*/

.contact {
    background-color: #f7f7f7;
    padding: 25px 40px;
}

.contact .grid {
    display: flex;
    align-items: center;
}

.contact .grid h2 {
    margin-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.contact .grid p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    min-height: 300px;
}

.contact .grid li {
    width: 50%;
    text-align: center;
}

.contact .maps {
    width: 100%;
    min-height: 300px;
}

@media (max-width: 1000px) {
    .contact .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .features .grid li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .features .grid li {
        flex-basis: 100%;
    }
}


/*-------------
Footer
-------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #414a4f;
    padding: 30px 0;
}

footer ul {
    display: flex;
    margin-bottom: 5px;
    font-size: 32px;
}

footer ul li {
    margin: 0 8px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

footer p a {
    color: #fff;
}

@media (max-width: 700px) {
    footer {
        padding: 40px 15px;
    }
}

@media (max-width: 1200px) {
    #bsaHolder {
        display: none;
    }
}