body {
    padding: 10px;
    margin: 10px;
}

header {
    background-image: url("../images/flywheel.jpg");
    background-repeat: no-repeat;
    /*background-position: 20px 10px;*/
    padding: 30px 20px 30px 20px;
    background-size: 100%;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-family: "Times New Roman";
    color: #ffffff;
    text-transform: uppercase;
    padding: 2px;
    font-size: 25px;
}

nav {
    text-align: center;
}

nav a {
    display: inline-block;
    width: 11%;
    background-color: #ffffff;
    padding: 15px;
    margin: 1% 30px 0.5% 30px;
    border-radius: 5px;
    opacity: 0.5;
    text-decoration: none;
    color: #000000;
}

.active {
    opacity: 1;
    color: #202792;
}

main {
    display: flow;
    margin: auto;
    width: 100%;
}

.left {
    width: 20%;
    background-color: #777714;
    float: left;
}

.left img {
    width: 80%;
    margin: 10%;
    border: 2px solid black;
}

.right {
    width: 75%;
    float: left;
    padding: 1%;
}

table {
    border-spacing: 0;
    margin-top: 2%;
    margin-left: 10%;
    width: 600px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 7px 7px 0 0;
}

table tr:first-child {
    background-color: #055c0d;
    border-radius: 7px 7px 0 0;
}

table tr th {
    text-align: center;
    color: #fcfdfb;
    border: 0.5px solid #ffffff;
    border-bottom: 2.5px solid #c3e87b;
    line-height: 2.4;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 90%;
    border-radius: 7px 7px 0 0;
}

table tr th:first-child {
    text-align: left;
    padding-left: 2%;
}

table tr td {
    background-color: #90d48e;
    text-align: center;
    border: 0.5px solid #ffffff;
    color: #949593;
    opacity: 0.7;
    line-height: 2.4;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    size: 90%;
}

table tr td:hover {
    opacity: 1;
    cursor: default;
    color: #000000;
    font-weight: 600;
}

table tr td:nth-child(3n+1) {
    text-align: left;
    padding-left: 2%;
}