@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway&display=swap');

:root {
    /* FONTS */
    --primary: 'Poiret One', cursive;
    --secundary: 'Raleway', sans-serif;

    /* COLORS */
    --blue: #051C2C;
    --white: #f6f6f6;
    --gold: #d4af37;
    --gray: #777979;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hmtl {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* GENERAL ELEMENTS */
.heading-dark {
    font-family: var(--primary);
    color: var(--blue);
    font-weight: 900;
}

.heading-light {
    font-family: var(--primary);
    color: var(--white);
    font-weight: 900;
}

.bg-dark {
    background-color: var(--blue);
}

.bg-light {
    background-color: var(--white);
}

.text-gold {
    color: var(--gold);
}

.bg-gold {
    background-color: var(--gold);
}

.text-blue {
    color: var(--blue);
}

.text-white {
    color: var(--white);
}

.primary {
    font-family: var(--primary);
}

.secundary {
    font-family: var(--secundary);
}
/* NAVBAR */

.hero .header {
    width: 100%;
    font-family: var(--secundary);
    padding: 1rem 2rem;
    background-color: var(--blue);
    margin-bottom: 1rem;
    border-bottom: #d4af37 solid 1px;
}

.nav {
    height: 50px;
    position: relative;
}

.nav-container {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.nav-logo {
    font-size: 1.8em;
    font-family: var(--primary);
    display: flex;
    align-items: center;
}

.logo-image {
    width: 65px;
    margin-right: 1rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5em;
    font-weight: 900;

}

.nav-item {
    text-decoration: none;
    text-transform: uppercase;
    --underline: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-item::after {
    content: '';
    display: block;
    background-color: var(--gold);
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--underline);
    transition: clip-path 0.4s;
}

.nav-item:hover {
    --underline: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-label,
.nav-input {
    display: none;
}

/* DARK MODE TOGGLE */
/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1a4b73;
    border: 2px solid var(--gold);
}

input:focus+.slider {
    border: 2px solid var(--gold);
}

input:checked+.slider:before {
    transform: translateX(26px);

}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} */

/* HEADER */

header {
    z-index: 999;
    position: fixed;
}

/* HERO WAVES */

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

/* CONTACT FORM */

.contact-form {
    padding: 20px 40px;
    border-radius: 10px;
}

.form-btn {
    cursor: pointer;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
}

.form-btn:focus {
    outline: none;
}

.form-btn:active {
    transform: scale(0.95);
}

.form-btn:hover {
    opacity: 0.9;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
}

.form-control input,
.form-control textarea {
    background-color: transparent;
    border: 0;
    border-bottom: var(--white) 2px solid;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
}

.form-control input:focus,
.form-control input:valid,
.form-control textarea:focus,
.form-control textarea:valid {
    outline: none;
    border-bottom-color: var(--gold);
}

.form-control label {
    position: absolute;
    top: 0px;
    left: 10px;

}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span,
.form-control textarea:focus+label span,
.form-control textarea:valid+label span {
    color: var(--gold);
    transform: translateY(-25px);
}

/* SECTION ARTICLES */

.perspective {
    perspective: 1800px;
}

.page {

    transform-style: preserve-3d;

    transform: rotateY(0deg);
}

.page.turn {

    transform: rotateY(-180deg);
}

.front,
.back {

    backface-visibility: hidden;
}

.back {

    transform: rotateY(-180deg);
}

.book {
    background-image: url('./images/book.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

/* PROJECTS */

.projects-container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel .panel-info {
    width: 0;
    display: none;
    cursor: default;
    overflow: hidden;
}

.panel .img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.panel.active .panel-info {
    width: 80%;
    display: block;
    transition: width 1s ease;
}

.panel.active {
    flex: 5;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .nav-label {
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        position: absolute;
        top: 67px;
        background-color: var(--white);
        width: 100vw;
        height: 100vh;
        left: -32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        gap: 10%;
    }

    .nav-menu .nav-item {
        color: var(--blue);
    }

    .nav-input:checked+.nav-menu {
        clip-path: circle(100% at center);
    }

}

@media screen and (max-width: 480px) {
    .nav-name {
        display: none;
    }
}
